.App {
  width: 60%;
  margin: 0 auto;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  margin: 20px 0;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

li span {
  padding: 8px;
}

li.low {
  border: 2px solid green;
}

li.high {
  border: 2px solid red;
}
